<?xml version="1.0"?>
<ruleset name="WordPress VIP CRATHOD" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/squizlabs/PHP_CodeSniffer/master/phpcs.xsd">
    <description>WordPress VIP by crathod.</description>

    <file>code/wp-content/plugins/elementor-addon</file>
    <file>code/wp-content/themes/hello-theme-child</file>


    <rule ref="WordPress">
        <exclude name="WordPress.PHP.YodaConditions.NotYoda"/>
        <exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>
        <exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
        <exclude name="Squiz.Commenting.FileComment.MissingPackageTag"/>
        <exclude name="Squiz.Commenting.FileComment.Missing"/>
    </rule>

    <!-- <rule ref="Generic.Arrays.DisallowLongArraySyntax"/> -->
</ruleset>